ENV=local
DEBUG=1
ALLOWED_HOSTS=*
SECRET_KEY=replace-me
APP_PATH=/var/www/idms
IDENTITY_PUBLIC_SCHEME=https
IDENTITY_PUBLIC_ROOT_DOMAIN=example.com
IDENTITY_DEFAULT_REDIRECT_PATHS=/auth/callback
IDENTITY_DEFAULT_LOGOUT_PATHS=/auth/logout

DATABASE_DB=idms
DATABASE_USER=idms
DATABASE_PASSWORD=idms
DATABASE_HOST=localhost
DATABASE_PORT=5432
